@charset "UTF-8";
@import url(c:\Users\vladi\OneDrive\Рабочий стол\web\2021\#from 0 to 1\GLEE\node_modules\@fancyapps\fancybox\dist\jquery.fancybox.css);
body, .top__title, .blog__info {
  font-family: 'Rubik-Regular', sans-serif;
  font-weight: 400;
}

.slider-top__title, .slider .slick-dots button, .authorization__create, .rules__title {
  font-family: 'Rubik-Medium', sans-serif;
  font-weight: 500;
}

.user-nav__inner span, .footer__btn {
  font-family: 'DMSans-Regular', sans-serif;
  font-weight: 400;
}

.menu .menu__list-link, .footer__input::-webkit-input-placeholder, .products__name, .blog__text, .authorization, .authorization a {
  font-family: 'DMSans-Medium', sans-serif;
  font-weight: 500;
}

.menu .menu__list-link, .footer__input:-ms-input-placeholder, .products__name, .blog__text, .authorization, .authorization a {
  font-family: 'DMSans-Medium', sans-serif;
  font-weight: 500;
}

.menu .menu__list-link, .footer__input::-ms-input-placeholder, .products__name, .blog__text, .authorization, .authorization a {
  font-family: 'DMSans-Medium', sans-serif;
  font-weight: 500;
}

.menu .menu__list-link, .footer__input::placeholder, .products__name, .blog__text, .authorization, .authorization a {
  font-family: 'DMSans-Medium', sans-serif;
  font-weight: 500;
}

.title, .footer__top .footer__title, .slider-bottom__title, .products__btn, .items__pretitle, .items__btn, .new__btn, .new__name, .new__version, .blog__top-link {
  font-family: 'DMSans-Bold', sans-serif;
  font-weight: 700;
}

.blog__capsule {
  font-family: 'Poppins-Bold', sans-serif;
  font-weight: 700;
}

.footer__btn, .slider-top__btn {
  background-color: #a3bbc8;
  color: white;
  border: none;
}

/* Slider */
.slick-slider {
  position: relative;
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0;
}

.slick-list:focus {
  outline: none;
}

.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.slick-track:before, .slick-track:after {
  content: "";
  display: table;
}

.slick-track:after {
  clear: both;
}

.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none;
}

[dir="rtl"] .slick-slide {
  float: right;
}

.slick-slide img {
  display: block;
}

.slick-slide.slick-loading img {
  display: none;
}

.slick-slide.dragging img {
  pointer-events: none;
}

.slick-initialized .slick-slide {
  display: block;
}

.slick-loading .slick-slide {
  visibility: hidden;
}

.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
  display: none;
}

@font-face {
  font-family: 'Rubik-Regular';
  font-weight: 400;
  font-style: normal;
  src: local("Rubik-Regular"), url("../fonts/Rubik-Regular.woff2") format("woff2"), url("../fonts/Rubik-Regular.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: 'Rubik-Medium';
  font-weight: 500;
  font-style: normal;
  src: local("Rubik-Medium"), url("../fonts/Rubik-Medium.woff2") format("woff2"), url("../fonts/Rubik-Medium.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: 'DMSans-Regular';
  font-weight: 400;
  font-style: normal;
  src: local("DMSans-Regular"), url("../fonts/DMSans-Regular.woff2") format("woff2"), url("../fonts/DMSans-Regular.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: 'DMSans-Medium';
  font-weight: 500;
  font-style: normal;
  src: local("DMSans-Medium"), url("../fonts/DMSans-Medium.woff2") format("woff2"), url("../fonts/DMSans-Medium.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: 'DMSans-Bold';
  font-weight: 700;
  font-style: normal;
  src: local("DMSans-Bold"), url("../fonts/DMSans-Bold.woff2") format("woff2"), url("../fonts/DMSans-Bold.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: 'Poppins-Bold';
  font-weight: 700;
  font-style: normal;
  src: local("Poppins-Bold"), url("../fonts/Poppins-Bold.woff2") format("woff2"), url("../fonts/Poppins-Bold.woff") format("woff");
  font-display: swap;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

ul[class],
ol[class] {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

ul[class] {
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

body {
  min-height: 100vh;
}

a {
  text-decoration: none;
}

html, body {
  height: 100%;
}

body {
  color: #436372;
  font-size: 16px;
  line-height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #436372;
}

.container {
  max-width: 1800px;
  padding: 0 15px;
  margin: 0 auto;
}

.main {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.title {
  font-size: 36px;
  color: #191919;
}

.container-small {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 15px;
}

.top {
  text-align: center;
  padding: 35px 0;
  background-color: #edf1f4;
}

.top__title {
  color: #222933;
  font-size: 36px;
  line-height: 24px;
  margin-bottom: 10px;
}

.breadcrumbs__link {
  font-size: 14px;
  line-height: 24px;
  color: #585858;
}

.breadcrumbs__link::after {
  content: '/';
}

.breadcrumbs__link:last-child {
  padding-right: 0;
}

.breadcrumbs__link:last-child::after {
  content: '';
}

.breadcrumbs__link + .breadcrumbs__link {
  margin-left: 2px;
}

.partners {
  background-color: #fef7f0;
}

.partners__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 80px 80px 90px 50px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container-authorization {
  max-width: 470px;
  margin: 0 auto;
}

.header {
  padding: 50px 0;
}

.header__inner {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  left: 0;
  right: 0;
}

.menu__list-item + .menu__list-item {
  margin-left: 30px;
}

.menu .menu__list-link {
  text-decoration: none;
  color: #436372;
  line-height: 12px;
}

.user-nav {
  position: relative;
}

.user-nav__line {
  border-right: 1px solid #fde7d3;
  height: 32px;
  position: absolute;
  left: 160px;
  top: 7px;
}

.user-nav__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.user-nav__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.user-nav__link {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  position: relative;
}

.user-nav__img {
  position: absolute;
  left: 18px;
  top: 17px;
}

.user-nav__link--first {
  background-color: #edf1f4;
  margin-right: 20px;
}

.user-nav__inner {
  width: 180px;
  background-color: #fcd7b6;
  border-radius: 100px;
  padding: 0px 30px 0 40px;
}

.user-nav__inner .user-nav__img {
  position: absolute;
  left: 0px;
  top: 17px;
}

.user-nav__inner span {
  position: absolute;
  left: 12px;
  top: 9px;
  width: 16px;
  height: 16px;
  background-color: #fff;
  border-radius: 50%;
  line-height: 16px;
  text-align: center;
  color: #243f4d;
  font-size: 10px;
}

.user-nav__inner .user-nav__link {
  width: 28px;
}

.user-nav__link--fourth {
  background-color: #a3bbc8;
  margin-left: 20px;
}

.user-nav__link--fourth .user-nav__img {
  left: 16px;
  top: 16px;
}

.footer {
  padding-top: 75px;
}

.footer__top {
  padding-bottom: 75px;
  border-bottom: 1px solid #dae4e9;
}

.footer__top a {
  display: block;
  line-height: 24px;
  color: #585858;
}

.footer__top .footer__title {
  font-size: 16px;
  line-height: 21px;
  color: #243f4d;
  text-transform: uppercase;
  margin-bottom: 25px;
  padding-top: 20px;
}

.footer__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__item-contact {
  max-width: 220px;
}

.footer__item-contact .logo__link {
  margin-bottom: 30px;
}

.footer__item-contact .footer__address,
.footer__item-contact .footer__phone {
  margin-bottom: 16px;
}

.footer__nav-link, .footer__list-link {
  margin-bottom: 20px;
}

.footer__item-info {
  max-width: 140px;
}

.footer__item-news {
  max-width: 300px;
}

.footer__text {
  font-size: 14px;
  line-height: 24px;
  color: #585858;
  margin-bottom: 35px;
}

.footer__input {
  background-color: #fef7f0;
  border: none;
  color: #234969;
  padding: 10px 10px 10px 15px;
  max-width: 170px;
  width: 100%;
}

.footer__input::-webkit-input-placeholder {
  font-size: 12px;
  color: #234969;
}

.footer__input:-ms-input-placeholder {
  font-size: 12px;
  color: #234969;
}

.footer__input::-ms-input-placeholder {
  font-size: 12px;
  color: #234969;
}

.footer__input::placeholder {
  font-size: 12px;
  color: #234969;
}

.footer__btn {
  padding: 14px 25px;
  margin-left: -4px;
  font-size: 14px;
  line-height: 21px;
}

.footer__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 80px;
  font-size: 14px;
}

.footer__copy {
  line-height: 12px;
}

.footer__bottom-nav {
  line-height: 32px;
}

.footer__bottom-nav-link {
  padding: 0 15px;
  color: #585858;
}

.slider__inner {
  background-color: #fcd7b6;
  background-image: url("../images/slider-bg.png");
  background-repeat: no-repeat;
  background-position: 85% 30%;
}

.slider-top {
  max-width: 1170px;
  margin: 0 auto;
  padding: 225px 0 280px;
}

.slider-top__item {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 20px;
}

.slider-top__title {
  color: #243f4d;
  font-size: 72px;
  line-height: 70px;
  margin-bottom: 35px;
}

.slider-top__paragraph {
  font-size: 18px;
  margin-bottom: 40px;
}

.slider-top__btn {
  padding: 20px 110px 20px 25px;
  position: relative;
}

.slider-top__btn::before {
  content: '';
  background-image: url("../images/icons/arrow.svg");
  width: 22px;
  height: 9px;
  position: absolute;
  right: 18px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.slider .slick-dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  bottom: 40px;
  left: 0;
  right: 0;
}

.slider .slick-dots button {
  font-size: 11px;
  line-height: 9px;
  color: #243f4d;
  border-radius: 50%;
  width: 30px;
  border: none;
  background-color: #fff;
  height: 30px;
  opacity: .3;
}

.slider .slick-dots li + li {
  margin-left: 10px;
}

.slider .slick-dots .slick-active button {
  opacity: 1;
}

.slider-bottom {
  background-color: #fef7f0;
}

.slider-bottom__items {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
}

.slider-bottom__item {
  padding: 50px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.slider-bottom__item + .slider-bottom__item {
  border-left: 1px solid #e8e4df;
}

.slider-bottom__img {
  margin-right: 25px;
}

.slider-bottom__title {
  font-size: 18px;
  line-height: 40px;
  color: #414141;
}

.slider-bottom__paragraph {
  max-width: 220px;
  color: #585858;
}

.products {
  padding: 80px 0 90px;
}

.products__inner {
  text-align: center;
}

.products__title {
  margin-bottom: 35px;
}

.products__btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 80px;
}

.products__btn {
  border: none;
  background-color: transparent;
  color: #8b8b8b;
}

.products__btn + .products__btn {
  margin-left: 15px;
}

.products__items {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  grid-gap: 40px 30px;
}

.products__item {
  background-color: #fff;
  -webkit-box-shadow: 0px 6px 47px 3px rgba(37, 37, 37, 0.05);
          box-shadow: 0px 6px 47px 3px rgba(37, 37, 37, 0.05);
  overflow: hidden;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 380px;
  padding: 0 25px 20px;
  position: relative;
}

.products__item:hover .products__popup-items {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.products__item img {
  margin: auto 0;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.products__name {
  line-height: 40px;
  color: #243f4d;
}

.products__cost {
  line-height: 40px;
  color: #a3bbc8;
}

.products__popup-items {
  -webkit-transition: all .3s;
  transition: all .3s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  bottom: 160px;
  -webkit-transform: translateY(500%);
          transform: translateY(500%);
}

.products__popup-item {
  -webkit-transition: all .3s;
  transition: all .3s;
  display: block;
  background-color: #fff;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.products__popup-item path {
  -webkit-transition: all .3s;
  transition: all .3s;
}

.products__popup-item + .products__popup-item {
  margin-left: 15px;
}

.products__popup-item:hover {
  background-color: #a3bbc8;
}

.products__popup-item:hover path {
  fill: #fff;
}

.products .mixitup-control-active {
  color: #191919;
}

.items {
  padding: 90px 0 110px;
}

.items__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.items__item {
  max-width: 870px;
  width: 100%;
  height: 490px;
  background-position: right;
  background-repeat: no-repeat;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.items__item + .items__item {
  margin-left: 30px;
}

.items__inner {
  max-width: 360px;
  margin-left: 48%;
}

.items__pretitle {
  font-size: 26px;
  line-height: 32px;
  color: #243f4d;
  margin: 80px 0 25px 0;
}

.items__descr {
  color: #243f4d;
  line-height: 30px;
  margin-bottom: 45px;
}

.items__btn {
  background-color: transparent;
  border: 1px solid #b3b7b5;
  padding: 20px 70px 20px 20px;
  border-radius: 5px;
  color: #436372;
  position: relative;
}

.items__btn::before {
  content: '';
  background-image: url("../images/icons/arrow-dark.svg");
  width: 22px;
  height: 9px;
  position: absolute;
  right: 18px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.new {
  padding-bottom: 120px;
}

.new__inner {
  text-align: center;
}

.new__title {
  margin-bottom: 30px;
}

.new__btn {
  border: none;
  background-color: transparent;
  color: #8b8b8b;
}

.new__btn + .new__btn {
  margin-left: 15px;
}

.new__items {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px;
}

.new__link {
  display: block;
  height: 240px;
}

.new__name {
  font-size: 20px;
  color: #191919;
  max-width: 180px;
  line-height: 24px;
  margin-bottom: 5px;
}

.new__version {
  color: #a3bbc8;
  line-height: 30px;
}

.new__item-inner {
  padding: 40px 0 0 30px;
}

.new .mixitup-control-active {
  color: #191919;
}

.blog {
  padding-top: 120px;
  position: relative;
}

.blog__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 40px;
}

.blog__top-link {
  color: #262626;
  padding-right: 25px;
  position: relative;
}

.blog__top-link::after {
  content: '';
  background-image: url("../images/icons/navigate.svg");
  position: absolute;
  width: 6px;
  height: 11px;
  right: 0;
  top: 10px;
}

.blog__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 100px;
}

.blog__item {
  max-width: 370px;
  width: 100%;
  height: 420px;
  -webkit-box-shadow: 0px 6px 47px 3px rgba(37, 37, 37, 0.05);
          box-shadow: 0px 6px 47px 3px rgba(37, 37, 37, 0.05);
  background-color: #fff;
}

.blog__item + .blog__item {
  margin-left: 30px;
}

.blog__img {
  height: 250px;
  -o-object-fit: cover;
     object-fit: cover;
}

.blog__imagelink {
  position: relative;
  margin-bottom: 35px;
  display: block;
}

.blog__capsule {
  position: absolute;
  text-transform: uppercase;
  background-color: #a3bbc8;
  color: #fff;
  padding: 3px 35px;
  border-radius: 25px;
  bottom: -16px;
  left: 30px;
}

.blog__inner {
  padding: 0px 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: calc(370px - 250px);
}

.blog__text {
  color: #262626;
  font-size: 18px;
  height: auto;
  line-height: 20px;
}

.blog__divider {
  height: 1px;
  background-color: #e0e0e0;
  margin-top: auto;
}

.blog__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 10px 0 0 15px;
  font-size: 12px;
  text-transform: uppercase;
  color: #222933;
}

.blog__author {
  color: #222933;
  margin-left: 40px;
}

.blog__author::before {
  background-image: url("../images/icons/user.svg");
}

.blog__date::before {
  background-image: url("../images/icons/calendar.svg");
}

.blog__author, .blog__date {
  position: relative;
  padding-left: 12px;
}

.blog__author::before, .blog__date::before {
  content: '';
  position: absolute;
  width: 16px;
  height: 16px;
  left: -10px;
  bottom: 8px;
  background-repeat: no-repeat;
}

.blog__partners {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 80px 150px 50px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.blog__background {
  height: 504px;
  width: 100%;
  background-color: #fef7f0;
  position: absolute;
  bottom: 0;
  z-index: -1;
}

.authorization {
  padding: 115px 0;
  color: #436372;
  font-size: 14px;
}

.authorization a {
  color: inherit;
  font-size: inherit;
}

.authorization__label {
  margin-bottom: 15px;
  display: block;
}

.authorization__username, .authorization__password {
  display: block;
  border: 2px solid #f6f6f6;
  width: 100%;
  height: 55px;
  padding: 0px 15px;
  margin: 5px 0 30px;
}

.authorization__login {
  width: 100%;
  color: #fff;
  border: none;
  background-color: #a3bbc8;
  padding: 15px 0;
  margin-bottom: 30px;
  cursor: pointer;
}

.authorization__optional {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: 2px solid #f6f6f6;
  padding-bottom: 10px;
}

.authorization__register {
  display: block;
  text-align: center;
  margin: 35px 0 25px;
}

.authorization__create {
  color: #243f4d;
  text-align: center;
  display: block;
  width: 100%;
  font-size: 18px;
  padding: 20px 0;
  border: 2px solid #a3bbc8;
}

.rules {
  padding-top: 120px;
}

.rules__types {
  margin-bottom: 50px;
}

.rules__types .rules__title {
  margin-bottom: 20px;
}

.rules__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #243f4d;
}

.rules__inner + .rules__inner {
  margin-top: 15px;
}

.rules__inner .rules__text {
  margin-left: 15px;
}

.rules__title {
  color: #243f4d;
  font-size: 24px;
  line-height: 40px;
  margin-bottom: 10px;
}

.rules__how-first {
  margin-bottom: 50px;
}

.video {
  background-image: url("../images/video-bg.jpg");
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: cover;
  height: 500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
