$accent: #243f4d; 
$default:#436372;
$weak: #585858;
$links: #436372;
$bg: #fef7f0;

%rubik-400{
	font-family: 'Rubik-Regular', sans-serif;
	font-weight: 400;
}
%rubik-500{
	font-family: 'Rubik-Medium', sans-serif;
	font-weight: 500;
}
%dmsans-400{
	font-family: 'DMSans-Regular', sans-serif;
	font-weight: 400;
}
%dmsans-500{
	font-family: 'DMSans-Medium', sans-serif;
	font-weight: 500;
}
%dmsans-700{
	font-family: 'DMSans-Bold', sans-serif;
	font-weight: 700;
}
%poppins-700{
	font-family: 'Poppins-Bold', sans-serif;
	font-weight: 700;
}
%button{
	background-color: #a3bbc8;
	color: white;
	border: none;
}