@import 'vars';
@import 'imports';
@import 'fonts';
@import 'reset';
@import 'global';










.mission{
	padding: 120px 0;
	&__wrapper{
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	&__inner{
		margin-left: 50px;
	}
	&__text{
		display: flex;
		align-items: center;
		margin-bottom: 30px;
	}
	&__years{
		@extend %rubik-500;
		color: #a3bbc8;
		font-size: 140px;
		line-height: 32px;
		margin-right: 20px;
	}
	&__rows{
		color: $accent;
		padding-top: 25px;
	}
	&__title{
		@extend %dmsans-700;
		font-size: 36px;
		line-height: 32px;
		color: $accent;
		margin-bottom: 30px;
	}
	&__descr{
		color: $accent;
		margin-bottom: 50px;
	}
	&__divider{
		background-color: #e6eaf0;
		width: 500px;
		height: 2px;
		margin-bottom: 30px;
	}
	&__achievements{
		display: flex;
		justify-content: space-between;
	}
	&__achievement{
		@extend %dmsans-700;
		padding-left: 60px;
		position: relative;
		&::before{
			content: '';
			position: absolute;
			left: 0;
			top: 10px;
			background-repeat: no-repeat;
		}
	}
	&__digits{
		color: $accent;
		font-size: 36px;
		line-height: 38px;
		margin-bottom: 5px;
	}
	&__name{
		line-height: 17px;
		color: #4c4c4c;
	}
	&__achievement--1{
		&::before{
		background-image: url('../images/about/projects.svg');
		width: 37px;
		height: 38px;
		}
		&::after{
			background-image: url('../images/about/verticaldivider.svg');
			width: 1px;
			height: 80px;
			content: '';
			position: absolute;
			right: -26px;
			top: -8px;
			background-repeat: no-repeat;
		}
	}
	&__achievement--2{
		&::before{
		background-image: url('../images/about/revenue.svg');
		width: 43px;
		height: 39px;
	}
			&::after{
			background-image: url('../images/about/verticaldivider.svg');
			width: 1px;
			height: 80px;
			content: '';
			position: absolute;
			right: -26px;
			top: -8px;
			background-repeat: no-repeat;
}
	}
	&__achievement--3::before{
		background-image: url('../images/about/awards.svg');
		width: 42px;
		height: 40px;
	}
}
.statistics{
	background-color: #fcd7b6;
	padding: 90px 0 80px;
	&__items{
		display: flex;
		justify-content: space-between;
	}
	&__image--small{
		padding-top: 10px;
	}
	&__item{
		display: flex;
		flex-direction: column;
		justify-content: center;
		text-align: center;
		color: $accent;
		@extend %dmsans-700;
	}
	&__digits{
		font-size: 36px;
		line-height: 32px;
		margin: 20px 0;
	}
	&__info{
		font-size: 18px;
		line-height: 32px;
	}
}
.team{
	padding: 120px 0 60px;
	&__inner{
		display: flex;
		justify-content: space-between;
	}
	&__about{
		max-width: 300px;
		width: 100%;
	}
	&__title{
		@extend %dmsans-700;
		color: $accent;
		font-size: 36px;
		line-height: 32px;
		margin-bottom: 30px;
	}
	&__descr{
		color: $accent;
		margin-bottom: 35px;
	}
	&__button{
		@extend %poppins-700;
		color: #fff;
		padding: 15px 60px 15px 20px;
		background-color: #a3bbc8;
		border-radius: 5px;
		position: relative;
		&::after{
			content: '';
			background-image: url('../images/icons/arrow-btn.svg');
			background-repeat: no-repeat;
			top: 50%;
			position: absolute;
			transform: translateY(-50%);
			right: 26px;
			width: 15px;
			height: 11px;
		}
	}
	&__items{
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		grid-gap: 100px 30px;
	}
	&__item{
		position: relative;
	}
	&__popup{
		background-color: #fff;
		bottom: -63px;
		position: absolute;
		left: 0;
		padding: 30px 20px;
		display: flex;
		  box-shadow: 0px 6px 57px 0px rgba(37, 37, 37, 0.05);
		justify-content: space-between;
		max-width: 324px;
		width: 100%;
	}
	&__name{
		font-size: 22px;
		line-height: 26px;
		color: $links;
		@extend %dmsans-700;
		margin-bottom: 10px;
	}
	&__profession{
		color: #565872;
	}
	&__links{
		display: flex;
	}
	&__link{
		background-color: #f6f6f6;
		width: 40px;
		height: 40px;
		border-radius: 50%;
		display: flex;
		align-items: center;
		justify-content: center;
		&+&{
			margin-left: 7px;
		}
	}
}
.shop-grid__inner{
	display: flex;
	padding: 120px 0;
	align-items: flex-start;
}
.shop-filters{
	width: 270px;
	margin-right: 30px;
	&__category{
		margin-bottom: 50px;
	}
	&__title{
		text-transform: uppercase;
		color: $accent;
		font-size: 18px;
		@extend %dmsans-700;
		margin-bottom: 30px;
		position: relative;
		display: inline-block;
		&::after{
			content: '';
			position: absolute;
			background-image: url('../images/icons/title-line.svg');
			background-repeat: no-repeat;
			right: -50px;
			top: 50%;
			width: 39px;
			height: 3px;
		}
	}
	&__category-label{
		display: block;
		position: relative;
	}
	&__category-input{
		@extend %input-hidden;
		&:checked + .shop-filters__category-type{
		 border-radius: 5px;
 		 background-color: #edf1f4;
		}
	}
	&__category-type{
		color: $accent;
		position: relative;
		left: 0;
		display: block;
		padding: 10px 15px;
		right: 0;
		margin-bottom: 1px;
		&::after{
			content: '';
			position: absolute;
			background-image: url('../images/icons/arrow-right.svg');
			background-repeat: no-repeat;
			right: 15px;
			top: 50%;
			transform: translateY(-50%);
			width: 5px;
			height: 10px;
		}
	}
	.irs--flat .irs-handle {
    top: 19px;
    width: 15px;
    height: 15px;
    background-color: #a3bbc8;
}
.irs--flat .irs-handle>i:first-child {
    height: 0;
}
.irs--flat .irs-line {
    top: 25px;
    height: 3px;
	 background-color: #c2d2db;
	 border-top: 1px solid #dfe7ec;
	 border-bottom: 1px solid #dfe7ec;
}
.irs--flat .irs-bar {
    top: 25px;
    height: 4px;
	 background-color: #a3bbc8;
	 border-top: 1px solid #bfd0d9;
	 border-bottom: 1px solid #bfd0d9;
}
.irs--flat .irs-min, .irs--flat .irs-max, .irs--flat .irs-from, .irs--flat .irs-to, .irs--flat .irs-single{
	display: none;
}
&__price-prices{
	display: flex;
	justify-content: space-between;
	color: $accent;
}
&__price{
	margin-bottom: 85px;
}
&__brand{
	margin-bottom: 65px;
}
&__brand-label{
	display: block;
	margin-bottom: 1px;
}
&__brand-amount{
	color: #b3b3b3;
}
&__brand-input{
	@extend %input-hidden; 
	&:checked + .shop-filters__brand-digits{
		background-color: #edf1f4;
		border-radius: 5px;
		.shop-filters__brand-amount{
			color: $accent;
		}
	}
}
&__brand-digits{
	display: flex;
	justify-content: space-between;
	padding: 10px 15px;
}
&__recent-item{
	display: flex;
	&+&{
		margin-top: 25px;
	}
}
&__recent-link{
	width: 70px;
	height: 70px;
	margin-right: 20px;
	display: flex;
	align-items: center;
	justify-content: center;
	border: 3px solid #f2f2f2;
}
&__recent-img{
	object-fit: cover;
}
&__recent-title{
	color: #333333;
	font-size: 14px;
}
&__recent-stars{
	padding: 0;
}
&__recent-price{
	font-size: 15px;
	color: #333333;
}
}
.shop-grid__items{
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 30px;
}
.products__item{
	width: 270px;
	height: 380px;
}
.shop-list{
	&__item{
		justify-content: space-between;
		display: flex;
		align-items: center;
		margin-bottom: 40px;
	}
	&__link{
			height: 500px;
	width: 370px;
	border: 3px solid #f2f2f2;
	display: flex;
	justify-content: center;
	margin-right: 60px;
	align-items: center;
	}
	&__img{
		object-fit: cover;
	}
	&__descr{
		width: 440px;
	}
	&__title{
		font-size: 40px;
		line-height: 26px;
		color: #333;
		margin-bottom: 20px;
		font-weight: 400;
	}
	&__stars{
		padding: 0;
		margin-bottom: 40px;
	}
	&__cost{
		margin-bottom: 40px;
		font-size: 30px;
		line-height: 45px;
		color: #333;
	}
	&__about{
		color: $accent;
		margin-bottom: 30px;
	}
	&__buttons{
		display: flex;
	}
	&__cart, &__favourite{
		border: none;
		background-color: #fff;
		box-shadow: 0px 6px 47px 3px rgba(37, 37, 37, 0.05);
		display: flex;
		justify-content: center;
		align-items: center;
		height: 50px;
		width: 50px;
		transition: all .3s;
		&:hover{
			background-color: #a3bac7;
			path{
				fill: #fff;
			}
		}
	}
	&__favourite{
		margin-left: 10px;
	}
}



.product-about{
	padding: 120px 0;
	&__inner{
		display: flex;
		align-items: center;
	}
	&__sliders{
		display: flex;
	}
	&__small{
		width: 140px;
		margin-right: 25px;
		text-align: center;
	}
	&__small-item{
		border: 2px solid #f2f2f2;
		display: flex !important;
		justify-content: center;
		align-items: center;
		margin-bottom: 25px;
		img{
			object-fit: cover;
			height: 160px;
		}
	}
	&__big{
		width: 385px;
		margin-right: 70px;
	}
	&__big-item{
		display: flex !important;
		justify-content: center;
		align-items: center;
		border: 2px solid #f2f2f2;
		height: 547px;
		img{
			object-fit: cover;
		}
	}
	&__title{
		font-size: 40px;
		line-height: 26px;
		color: $title;
		@extend %rubik-400;
		margin-bottom: 25px;
	}
	&__price{
		font-size: 30px;
		line-height: 45px;
		color: $title;
		margin-bottom: 20px;
	}
	&__text{
		color: $accent;
		margin-bottom: 20px;
	}
	&__form{
		margin-bottom: 55px;
	}
	&__input{
		position: relative;
		&::before,
		&::after{
			content: '';
			position: absolute;
			background-color: #a3bbc8;
			height: 53px;
			width: 1px;
			top: 0;
		}
		&::before{
			left: 49px;
		}
		&::after{
			right: 49px;
		}
	}
	&__button{
		color: #fff;
		background-color: #a3bbc8;
		text-transform: uppercase;
		padding: 12px 50px;
		border-radius: 5px;
		border: none;
	}
	&__characteristic{
		display: flex;
		color: $accent;
		align-items: baseline;
	}
	&__property{
		margin-right: 2px;
		@extend %rubik-400;
	}
}
.jq-number__field input {
    width: 100%;
    padding: 11px 9px;
    border: none;
    outline: none;
    background: none;
    @extend %rubik-400;
	 color: #333;
	 text-align: center;
	 margin-right: 15px;
}
.jq-number__field {
    width: 148px;
	 border: 1px solid #a3bbc8;

}
.jq-number__spin{
	background-color: #000;
	width: 9px;
	height: 1px;
	top: 50%;
	transform: translateY(-50%);
	position: absolute;
	&.minus{
		left: 20px;
		cursor: pointer;
	}
	&.plus{
		right: 20px;
		cursor: pointer;
		&::after{
			content: '';
			position: absolute;
			height: 9px;
			width: 1px;
			background-color: #000;
			top: -4px;
			right: 4px;
		}
	}
}
.jq-number {
    margin-right: 15px;
}
.tabs{
	padding: 100px 0 0 0;
	&__items{
		text-align: center;
		margin-bottom: 35px;
	}
	&__link{
		background-color: #edf1f4;
		color: $accent;
		@extend %rubik-500;
		font-size: 18px;
		line-height: 40px;
		max-width: 240px;
		width: 100%;
		display: inline-block;
		padding: 15px 0;
		&+&{
			margin-left: 13px;
		}
		&.tabs__link--active{
						background-color: #a3bbc8;
			color: #fff;
		}
	}
	&__content{
		display: none;
		transition: all .3s;
		&.tabs__content--active{
			display: block;
		}
	}
}

.related{
	&__title{
		@extend %dmsans-700;
		font-size: 36px;
		color: $accent;
		margin-bottom: 40px;
	}
	&__inner{
		display: flex;
		justify-content: space-between;
		position: relative;
	}
	.slick-arrow{
		position: absolute;
		right: 0;
		top: -70px;
		background-color: transparent;
		z-index: 5;
		 border-radius: 5px;
		 width: 50px;
		 height: 50px;
		 border: 2px solid #a3bbc8;
		 transition: all .3s;
		 &.slick-disabled{
			 border-color: #edf1f4;
		 }
	}
	.slick-prev{
		right: 70px;
	}
	.products__item {
	
				background-color: #fff;
		box-shadow: 0px 6px 47px 3px rgba(37, 37, 37, 0.05);
		overflow: hidden;
		text-align: center;
		display: flex !important;
		flex-direction: column;
		align-items: center;
		height: 380px;
		padding: 0 25px 20px;
		position: relative;
		&:hover{
			.products__popup-items{
				transform: translateY(0);
			}
		}
		img{
			margin: auto 0;
			height: fit-content;
		}
}
}
.blog-page{
	padding: 120px 0 	60px;
	&__inner{
		display: flex;
		justify-content: space-between;
	}
	&__content{
		max-width: 830px;
		width: 100%;
		margin-right: 70px;
	}
	&__content-item{
				position: relative;
	}
	&__content-imagelink{
		display: block;
		margin-bottom: 40px;
	}
	&__content-image{
		height: 500px;
		object-fit: cover;
		max-width: 830px;
		width: 100%;
	}
	&__content-data{
		position: absolute;
		top: 410px;
		left: 0;
		background-color: #a3bbc8;
		color: #fff;
		padding: 30px 30px 30px 20px;
		display: flex;
		justify-content: space-between;
		max-width: 300px;
		width: 100%;
		color: #fff;
		text-transform: uppercase;
		font-size: 12px;
	}
	&__content-date,
	&__content-author{
		position: relative;
		padding-left: 18px;
		svg{
	color: #fff;
}
		&::before{
			content: '';
			left: 0;
			top: 8px;
			height: 13px;
			width: 12px;
			position: absolute;
			background-repeat: no-repeat;
		}
	}
	&__content-date::before{
		background-image: url('../images/icons/calendar-white.svg');
	}
	&__content-author::before{
		background-image: url('../images/icons/user-white.svg');
	}
	&__content-authorlink{
		color: inherit;
	}
	&__content-title{
		font-size: 36px;
		color: $title;
		@extend %rubik-400;
		margin-bottom: 30px;
	}
	&__content-text{
		color: $accent;
		margin-bottom: 40px;
	}
	&__content-link{
		color: #a3bbc8;
		border: 1px solid #a3bbc8;
		padding: 15px 90px 15px 20px;
		position: relative;
		display: inline-block;
		margin-bottom: 50px;
		&::after{
			content: '';
			position: absolute;
			right: 20px;
			top: 50%;
			transform: translateY(-50%);
			width: 22px;
			height: 9px;
			background-image: url('../images/icons/arrow-light.svg');
		}
	}
	&__form{
		width: 270px;
		height: 41px;
		display: flex;
		  border-radius: 5px;
		border: 2px solid #edf1f4;
		margin-bottom: 50px;
	}
	&__input{
		width: 220px;
		border: none;
		padding-left: 10px;
		outline: none;
	}
	&__button{
		background-color: #edf1f4;
		width: 48px;
		outline: none;
			border: none;
		position: relative;
			height: 39px;
		display: flex;
		cursor: pointer;
		justify-content: center;
		align-items: center;
		&::after{
			content: '';
			background-image: url('../images/icons/search-blog.svg');
			background-repeat: no-repeat;
			width: 18px;
			height: 18px;
			position: absolute;

		}
	}
	&__filters{
		max-width: 270px;
		width: 100%;
	}
	&__recent-item{
		display: flex;
		align-items: center;
		&+&{
			margin-top: 25px;
		}
	}
	&__recent-imglink{
		display: block;
		margin-right: 20px;
	}
	&__recent-img{
		min-width: 71px;
		object-fit: cover;
		width: 100%;
	}
	&__recent-titlelink{
		font-size: inherit;
		line-height: inherit;
		color: inherit;
		@extend %rubik-400;
	}
	&__recent-title{
		font-size: 14px;
		line-height: 20px;
		color: #333333;	
		margin-bottom: 5px;
	}
	&__recent-date{
		font-size: 12px;
		color: #9a9a9a;
		position: relative;
		padding-left: 18px;
		&::before{
			content: '';
			position: absolute;
			left: 0;
			top: 8px;
			height: 13px;
			width: 12px;
			background-image: url('../images/icons/calendar-gray.svg');
			background-repeat: no-repeat;
		}
	}
}
.blog-details{
	&__item{
		h4{
			font-size: 36px;
			line-height: 26px;
			color: #333333;
			@extend %rubik-400;
			margin-bottom: 		0px;
		}
		h6{
			color: $accent;
			@extend %rubik-500;
			margin: 30px 0;
		}
		p{
			color: $accent;
			margin: 30px 0;
		}
		blockquote{
			margin: 30px 0;
			background-color: #edf1f4;
			border-left: 6px solid #a3bbc8; 
			padding: 25px 30px;
			color: $accent;
			div{
				padding-left: 40px;
				margin-top: 15px;
				position: relative;
				&::before{
					content:'';
					position: absolute;
					height: 4px;
					width: 20px;
					background-color: #a3bbc8;
					left: 0;
					top: 50%;
					transform: translateY(-50%);
				}
			}
		}
		&-imgleft{
			float: left;
			margin-right: 30px;
		}
				&-imgright{
			float: right;
			margin-left: 30px;
		}
		h5{
			font-size: 18px;
			color: $accent;
			margin: 40px 0;
		}
	}
	&__author{
		padding: 25px 0;
		margin: 60px 0;
		border: 2px solid #ebebeb;
		border-left: none;
		border-right: none;
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	&__author-info{
		display: flex;
		align-items: center;
	}
	&__author-image{
		max-width: 76px;
		width: 100%;
		object-fit: cover;
		margin-right: 30px;
		height: 76px;
	}
	&__author-name{
		font-size: 18px;
		line-height: 25px;
		color: #333333;
		margin-bottom: 10px;
	}
	&__author-profession{
		color: #666666;
	}
	&__author-extend{
		display: flex;
		&+&{
			margin-top: 15	px;
		}
	}
	&__author-section{
		color: #333;
		margin-right: 25px;
	}
	&__author-tag{
		color: $weak;
		&::after{
			content:',';
		}
		&+&{
			margin-right: 5px;
		}
		&:last-child{
			&::after{
				content: '';
			}
		}
	}
	&__author-social{
		&+&{
			margin-left: 20px;
		}
		path{
			fill: $weak;
			transition: all .3s;
		}
		&:hover{
			path{
				fill: red;
			}
		}
	}
}
.comments{
	padding-bottom: 100px;
	&__title{
		@extend %rubik-500;
		font-size: 24px;
		line-height: 36px;
		color: $links;
		margin-bottom: 50px;
	}
	&__comment{
		display: flex;
		margin-bottom: 30px;
	}
	&__image{
		margin-right: 30px;
		max-width: 100px;
		height: 100px;
		object-fit: cover;
	} 
	&__inner-top{
		display: flex;
		justify-content: space-between;
		margin-bottom: 20px;
	}
	&__name{
		@extend %rubik-500;
		color: $links
	}
	&__date{
		font-size: 14px;
		color: #9e9e9e;
	}
	&__text{
		margin-bottom: 15px;
	}
	&__reply{
		color: #516278;
		font-size: 14px;
		padding-right: 25px;
		position: relative;
		&::after{
			content: '';
			position: absolute;
			background-image: url('../images/icons/arrow-comments.svg');
			right: 0px;
			top: 50%;
			transform: translateY(-50%);
			background-repeat: no-repeat;
			width: 17px;
			height: 17px;
		}
	}
	&__comment--reply{
		padding: 30px 0;
		margin-left: 130px;
		border: 1px solid #e0e0e0; 
		border-right: none;
		border-left: none;
	}
}
.comment{
	&__title{
		@extend %rubik-500;
		color: $accent;
		margin-bottom: 40px;
	}
	&__inputs{
		display: flex;
		margin-bottom: 20px;
	}
	&__input-wrapper{
		position: relative;
		&::after{
			content: '';
			position: absolute;
			right: 20px;
			top: 50%;
			transform: translateY(-50%);
			background-repeat: no-repeat;
		}
		&+&{
			margin-left: 30px;
		}
	}
	&__textarea-wrapper{
		position: relative;
		&::after{
			content: '';
			position: absolute;
			right: 20px;
			top: 20px;
			transform: translateY(-50%);
			background-repeat: no-repeat;
		}
	}
	&__input-wrapper--name::after{
		background-image: url('../images/icons/user-comment.svg');
		width: 14px;
		height: 13px;
	}
	&__input-wrapper--mail::after{
		background-image: url('../images/icons/mail.svg');
		width: 18px;
		height: 12px;
	}
	&__textarea-wrapper::after{
		background-image: url('../images/icons/comment.svg');
		width: 18px;
		height: 15px;
	}
	&__input{
		padding: 0 45px 0 20px;
		width: 400px;
		position: relative;
		height: 50px;
		outline: none;
		border: 1px solid #e5e5e5;
		&:focus{
			border-color: $accent;
		}
	}
	&__textarea{
		outline: none;
		border: 1px solid #e5e5e5;
		resize: none;
		height: 120px;
		padding: 10px 40px 10px 20px;
		max-width: 830px;
		width: 100%;
		margin-bottom: 40px;
		&:focus{
			border-color: $accent;
		}
	}
	&__input--name::after{
		background-image: url('../images/icons/user.svg');
	}
	&__input--mail{
		position: relative;
	}
	&__input--mail::after{
		background-image: url('../images/icons/mail.svg');
		position: absolute;
		content: '';
		width: 18px;
		height: 12px;
	}
	&__textarea--text::after{
		background-image: url('../images/icons/comment.svg');
		width: 18px;
		height: 15px;
	}
	&__button{
		@extend %button;
		padding: 10px 30px;
		text-transform: uppercase;
	}
}
.get-in{
	padding-top: 120px;
	&__inner{
		text-align: center;
	}
	&__pretitle{
		@extend %poppins-700;
		line-height: 20px;
		color: #a3bbc8;
		margin-bottom: 20px;
	}
	&__title{
		@extend %dmsans-700;
		color: $links;
		font-size: 35px;
		line-height: 37px;
		margin-bottom: 70px;
	}
	&__items{
		display: flex;
		justify-content: space-between;
		margin-bottom: 110px;
	}
	&__item{
		background-color: #fbfbfb;
		text-align: center;
		max-width: 370px;
		width: 100%;
		height: 380px;
		display: flex;
		justify-content: center;
		flex-direction: column;
		transition: all .3s;
		path{
			transition: all .3s;
		}
		&:hover{
			border: 2px solid #a3bbc8;
		.get-in__icon{
			background-color: #a3bbc8;
			path{
				fill: #fff;
			}
		}	
		}		
	}
	&__icon{
		 box-shadow: 0px 6px 57px 0px rgba(37, 37, 37, 0.05);
		 width: 78px;
		 height: 78px;
		 transition: all .3s;
		border-radius: 20px;
		display: flex;
		margin: 0 auto;
		align-items: center;
		justify-content: center;
		margin-bottom: 60px;
	}
	&__item-title{
		font-size: 20px;
		line-height: 26px;
		color: #222;
		margin-bottom: 20px;
	}
	&__item-text{
		color: #565872;
		a{
			color: inherit;
		}
	}
	&__about{
		display: flex;
		.comment__form{
			margin-right: 70px;
			max-width: 630px;
			width: 100%;
			input,
			textarea{
				border: none;
				background-color: #fafafa;
							&::placeholder{
				text-transform: uppercase;
			}
			}
		}
		.comment__input{
			width: 300px;
		}
		.comment__textarea{
			margin-bottom: 20px;
			height: 180px;
		}
		.comment__button{
			@extend %poppins-700;
		}
	}
}

#map {
width: 530px;
height: 340px;
}











@import 'media';
