@import 'vars';
@import 'fonts';
@import 'reset';
@import 'global';

.header{
	padding: 50px 0;
	&__inner{
		position: relative;
		display: flex;
		justify-content: space-between;
		align-items: flex-start;
	}
}
.menu{
	&__list{
		display: flex;
		position: absolute;
		justify-content: center;	
		left: 0;
		right: 0;
	}
	&__list-item + &__list-item{
		margin-left: 30px;
	}
	.menu__list-link{
		text-decoration: none;
		color: $accent;
		line-height: 12px;
				@extend %dmsans-700;
	}
}
.user-nav{
	position: relative;
	&__line{
		border-right: 1px solid #fde7d3;
		height: 32px;
		position: absolute;
		left: 160px;
    	top: 7px;
	}
	&__wrapper{
	display: flex;
	}
	&__inner{
		display: flex;
		justify-content: space-between;
	}
	&__link{
		width: 50px;
		height: 50px;
		border-radius: 50%;
		position: relative;
	}
	&__img{
		position: absolute;
		left: 18px;
		top: 17px;
	}
	&__link--first{
		background-color: #edf1f4;
		margin-right: 20px;
	}
	&__inner{
		width: 180px;
		background-color: #fcd7b6;
		border-radius: 100px;
		padding: 0px 30px 0 40px;
		.user-nav__img{
		position: absolute;
		left: 0px;
		top: 17px;
	}
		span{
			position: absolute;
			left: 12px;
   		top: 9px;
			width: 16px;
			height: 16px;
			background-color: #fff;
			border-radius: 50%;
			line-height: 16px;
			text-align: center;
			color: $accent;
			@extend %dmsans-400;
			font-size: 10px;
		}
		.user-nav__link{
			width: 28px;
		}
	}
	&__link--fourth{
		background-color: #a3bbc8;
		margin-left: 20px;
		.user-nav__img{
			left: 16px;
			top: 16px;
		}
	}
}

@import 'media';