html, body{
	height: 100%;
}
body{
	max-width: 1800px;
	padding: 0 15px;
	margin: 0 auto;
	color: $default;
	font-size: 16px;
	line-height: 30px;
	display: flex;
	flex-direction: column;
	@extend %rubik-400;
	color: $default;
}
.main{
	flex-grow: 1;
}

