html, body{
	height: 100%;
}
body{
	color: $default;
	font-size: 16px;
	line-height: 30px;
	display: flex;
	flex-direction: column;
	@extend %rubik-400;
	color: $default;
}
.container{
		max-width: 1800px;
	padding: 0 15px;
	margin: 0 auto;
}
.main{
	flex-grow: 1;
}

.title{
	@extend %dmsans-700;
	font-size: 36px;
	color: $title;
}
.container-small{
	max-width: 1170px;
	margin: 0 auto;
	padding: 0 15px;
}
.top{
	text-align: center;
	padding: 35px 0;
	background-color: #edf1f4;
	&__title{
		@extend %rubik-400;
		color: #222933;
		font-size: 36px;
		line-height: 24px;
		margin-bottom: 10px;
	}
}
.breadcrumbs__link{
	font-size: 14px;
	line-height: 24px;
	color: $weak;
	&::after{
		content: '/';
	}
	&:last-child{
		padding-right: 0;
		&::after{
			content: '';
		}
	}
	&+&{
		margin-left: 2px;
	}
}
.partners{
	background-color: #fef7f0;
	&__inner{
	display: flex;
	justify-content: space-between;
	padding: 80px 80px 90px 50px;
	align-items: center;
	}
}
.container-authorization{
	max-width: 470px;
	margin: 0 auto;
}
.pagination{
	margin-top: 75px;
	&__items{
		display: flex;
		&--first{
			justify-content: center;
		}
	}
	&__item{
		&+&{
			margin-left: 15px;
		}
	}
	&__link{
		padding: 10px 18px;
		color: $accent;
		border: 1px solid #a3bbc8;
	}
	&__link--active{
		background-color: #a3bbc8;
		color: #fff;
	}
}