@import 'vars';
@import 'imports';
@import 'fonts';
@import 'reset';
@import 'global';

.header{
	padding: 50px 0;
	&__inner{
		position: relative;
		display: flex;
		justify-content: space-between;
		align-items: flex-start;
	}
}
.menu{
	&__list{
		display: flex;
		position: absolute;
		justify-content: center;	
		left: 0;
		right: 0;
	}
	&__list-item + &__list-item{
		margin-left: 30px;
	}
	.menu__list-link{
		text-decoration: none;
		color: $links;
		line-height: 12px;
				@extend %dmsans-500;
	}
}
.user-nav{
	position: relative;
	&__line{
		border-right: 1px solid #fde7d3;
		height: 32px;
		position: absolute;
		left: 160px;
    	top: 7px;
	}
	&__wrapper{
	display: flex;
	}
	&__inner{
		display: flex;
		justify-content: space-between;
	}
	.active{
		.user-nav__input{
			opacity: 1;
		}
	}
	&__link{
		width: 50px;
		height: 50px;
		border-radius: 50%;
		position: relative;
	}
	&__input{
		position: absolute;
		outline: none;
		left: -215px;
		opacity: 0;
		padding: 0 50px 0 15px;
		height: 50px;
		background-color: #edf1f4;
		border: none;
		border-radius: 20px;
		top: 50%;
		transform: translateY(-50%);
		transition: all .3s;
	}
	&__img{
		position: absolute;
		left: 18px;
		top: 17px;
	}
	&__link--first{
		background-color: #edf1f4;
		margin-right: 20px;
		border: none;
		outline: none;
	}
	&__inner{
		width: 180px;
		background-color: #fcd7b6;
		border-radius: 100px;
		padding: 0px 30px 0 40px;
		.user-nav__img{
		position: absolute;
		left: 0px;
		top: 17px;
	}
		span{
			position: absolute;
			left: 12px;
   		top: 9px;
			width: 16px;
			height: 16px;
			background-color: #fff;
			border-radius: 50%;
			line-height: 16px;
			text-align: center;
			color: $accent;
			@extend %dmsans-400;
			font-size: 10px;
		}
		.user-nav__link{
			width: 28px;
		}
	}
	&__link--fourth{
		background-color: #a3bbc8;
		margin-left: 20px;
		.user-nav__img{
			left: 16px;
			top: 16px;
		}
	}
}
.footer{
	padding-top: 75px;
	&__top{
		padding-bottom: 75px;
		border-bottom: 1px solid #dae4e9;
		a{
			display: block;
			line-height: 24px;
			color: $weak;
		}
			.footer__title{
			font-size: 16px;
			line-height: 21px;
			color: $accent;
			@extend %dmsans-700;
			text-transform: uppercase;
			margin-bottom: 25px;
			padding-top: 20px;
	}
	}
	&__items{
		display: flex;
		justify-content: space-between;
	}
	&__item-contact{
		max-width: 220px;
		.logo__link{
			margin-bottom: 30px;
		}
		.footer__address,
		.footer__phone{
			margin-bottom: 16px;
		}
	}
	&__nav-link,
	&__list-link{
		margin-bottom: 20px;
	}
	&__item-info{
		max-width: 140px;
	}
	&__item-news{
		max-width: 300px;
	}
	&__text{
		font-size: 14px;
		line-height: 24px;
		color: $weak;
		margin-bottom: 35px;
	}
	&__input{
		background-color: #fef7f0;
		border: none;
		color: #234969;
		padding: 10px 10px 10px 15px;
		max-width: 170px;
		width: 100%;
		&::placeholder{
			font-size: 12px;
			color: #234969;
			@extend %dmsans-500;
		}
	}
	&__btn{
		padding: 14px 25px;
		@extend %button;
		margin-left: -4px;
		@extend %dmsans-400;
		font-size: 14px;
		line-height: 21px;
	}
	&__bottom{
		display: flex;
		justify-content: space-between;
		align-items: center;
		height: 80px;
				font-size: 14px;
	}
	&__copy{
		line-height: 12px;
	}
	&__bottom-nav{
		line-height: 32px;
	}
	&__bottom-nav-link{
		padding: 0 15px;
		color: $weak;
		}
}

.slider{
	&__inner{
		background-color: #fcd7b6;
		background-image: url('../images/slider-bg.png');
	background-repeat: no-repeat;
	background-position: 85% 30%;
	}
	&-top{
		max-width: 1170px;
		margin: 0 auto;
		padding: 225px 0 280px;
	}
	&-top__item{
		display: flex !important;
		justify-content: space-between;
		padding-bottom: 20px;
	}
	&-top__title{
		color: $accent;
		font-size: 72px;
		line-height: 70px;
		@extend %rubik-500;
		margin-bottom: 35px;
	}
	&-top__paragraph{
		font-size: 18px;
		margin-bottom: 40px;
	}
	&-top__btn{
		@extend %button;
		padding: 20px 110px 20px 25px;
		position: relative;
		&::before{
			content: '';
			background-image: url('../images/icons/arrow.svg');
			width: 22px;
			height: 9px;
			position: absolute;
			right: 18px;
			top: 50%;
			transform: translateY(-50%);
		}
	}
	.slick-dots{
		display: flex;
		justify-content: center;
		position: absolute;
		bottom: 40px;
		left: 0;
		right: 0;
		button{
			font-size: 11px;
			line-height: 9px;
			color: $accent;
			@extend %rubik-500;
			border-radius: 50%;
			width: 30px;
			border: none;
			background-color: #fff;
			height: 30px;
			opacity: .3;
		}
		li+li{
			margin-left: 10px;
		}
		.slick-active{
			button{
				opacity: 1;
			}
		}
	}
	&-bottom{
		background-color: $bg;
		&__items{
			display: grid;
			grid-template-columns: repeat(3, 1fr);
		}
		&__item{
			padding: 50px 0;
			display: flex;
			align-items: center;
			justify-content: center;
			&+&{
				border-left: 1px solid #e8e4df;
			}
		}
		&__img{
			margin-right: 25px;
		}
		&__title{
			font-size: 18px;
			line-height: 40px;
			@extend %dmsans-700;
			color: #414141;
		}
		&__paragraph{
			max-width: 220px;
			color: $weak;
		}
	}
}
.products{
	padding: 80px 0 90px;
	&__inner{
		text-align: center;
	}
	&__title{
		margin-bottom: 35px;
	}
	&__btns{
		display: flex;
		justify-content: center;
		margin-bottom: 80px;
	}
	&__btn{
		border: none;
		background-color: transparent;
		@extend %dmsans-700;
		color: #8b8b8b;
		&+&{
			margin-left: 15px;
		}
	}
	&__items{
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		grid-gap: 40px 30px;
		
	}
	&__item{
		background-color: #fff;
		box-shadow: 0px 6px 47px 3px rgba(37, 37, 37, 0.05);
		overflow: hidden;
		text-align: center;
		display: flex;
		flex-direction: column;
		align-items: center;
		height: 380px;
		padding: 0 25px 20px;
		position: relative;
		&:hover{
			.products__popup-items{
				transform: translateY(0);
			}
		}
		img{
			margin: auto 0;
			height: fit-content;
		}
	}
	&__popup-item{
		border: none;
	}
	&__name{
		@extend %dmsans-500;
		line-height: 40px;
		color: $accent;
	}
	&__cost{
		line-height: 40px;
		color: #a3bbc8;
	}
	&__popup-items{
		transition: all .3s;
		display: flex;
		justify-content: center;
		position: absolute;
		bottom: 160px;
		transform: translateY(500%);
	}
	&__popup-item{
		transition: all .3s;
		display: block;
		background-color: #fff;
		width: 45px;
		height: 45px;
		border-radius: 50%;
		display: flex;
		align-items: center;
		justify-content: center;
		path{
			transition: all .3s;
		}
		&+&{
			margin-left: 15px;
		}
		&:hover{
			background-color: #a3bbc8;
			path{
				fill: #fff;
			}
		}
	}
	.mixitup-control-active{
	color: $title;
}
}
.items{
	padding: 90px 0 110px;
	&__items{
		display: flex;
		justify-content: space-between;
	}
	&__item{
		max-width: 870px;
		width: 100%;
		height: 490px;
		background-position: right;
		background-repeat: no-repeat;
		background-size: cover;
		display: flex;
		flex-direction: column;
		justify-content: center;
		&+&{
			margin-left: 30px;
		}
	}
	&__inner{
		max-width: 360px;
		margin-left: 48%;
}
&__pretitle{
	@extend %dmsans-700;
	font-size: 26px;
	line-height: 32px;
	color: $accent;
	margin: 80px 0 25px 0;
}
&__descr{
	color: $accent;
	line-height: 30px;
	margin-bottom: 45px;
}
&__btn{
	background-color: transparent;
	border: 1px solid #b3b7b5;
	padding: 20px 70px 20px 20px;
	border-radius: 5px;
	@extend %dmsans-700;
	color: $default;
	position: relative;
	&::before{
		content: '';
		background-image: url('../images/icons/arrow-dark.svg');
		width: 22px;
		height: 9px;
		position: absolute;
		right: 18px;
		top: 50%;
		transform: translateY(-50%);
	}
}
}
.new{
	padding-bottom: 120px;
	&__inner{
		text-align: center;
	}
	&__title{
		margin-bottom: 30px;
	}
	&__btn{
					border: none;
		background-color: transparent;
		@extend %dmsans-700;
		color: #8b8b8b;
		&+&{
			margin-left: 15px;
		}
	}
	&__items{
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		grid-gap: 30px;
	}
	&__link{
		display: block;
		height: 240px;
	}
	&__name{
		@extend %dmsans-700;
		font-size: 20px;
		color: $title;
		max-width: 180px;
		line-height: 24px;
		margin-bottom: 5px;
	}
	&__version{
		@extend %dmsans-700;
		color: #a3bbc8;
		line-height: 30px;
	}
	&__item-inner{
		padding: 40px 0 0 30px;
	}
	.mixitup-control-active{
	color: $title;
	}
}
.blog{
	padding-top: 120px;
	position: relative;
	&__top{
		display: flex;
		justify-content: space-between;
		margin-bottom: 40px;
	}
	&__top-link{
		@extend %dmsans-700;
		color: #262626;
		padding-right: 25px;
		position: relative;
		&::after{
			content: '';
			background-image: url('../images/icons/navigate.svg');
			position: absolute;
			width: 6px;
			height: 11px;
			right: 0;
			top: 10px;
		}
	}
	&__items{
		display: flex;
		justify-content: space-between;
		margin-bottom: 100px;
	}
	&__item{
		max-width: 370px;
		width: 100%;
		height: 420px;
		  box-shadow: 0px 6px 47px 3px rgba(37, 37, 37, 0.05);
		  background-color: #fff;
		&+&{
			margin-left: 30px;
		}
	}
	&__img{
		height: 250px;
		object-fit: cover;
	}
	&__imagelink{
		position: relative;
		margin-bottom: 35px;
		display: block;
	}
	&__capsule{
		position: absolute;
		text-transform: uppercase;
		background-color: #a3bbc8;
		color: #fff;
		@extend %poppins-700;
		padding: 3px 35px;
		border-radius: 25px;
		bottom: -16px;
		left: 30px;
	}
	&__inner{
		padding: 0px 30px;
		display: flex;
		flex-direction: column;
		height: calc(370px - 250px);
	}
	&__text{
		@extend %dmsans-500;
		color: #262626;
		font-size: 18px;
		height: auto;
		line-height: 20px;
	}
	&__divider{
		height: 1px;
		background-color: #e0e0e0;
		margin-top: auto;
	}
	&__info{
		@extend %rubik-400;
		display: flex;
		margin: 10px 0 0 15px;
		font-size: 12px;
		text-transform: uppercase;
		color: #222933;
	}
	&__author{
		color: #222933;
		margin-left: 40px;
		&::before{
			background-image: url('../images/icons/user.svg');
		}
	}
	&__date{
		&::before{
			background-image: url('../images/icons/calendar.svg');
		}
	}
	&__author,
	&__date{
		position: relative;
		padding-left: 12px;
		&::before{
			content: '';
			position: absolute;
			width: 16px;
			height: 16px;
			left: -10px;
			bottom: 8px;
			background-repeat: no-repeat;
		}
	}
	&__partners{
		display: flex;
		justify-content: space-between;
		padding: 0 80px 150px 50px;
		align-items: center;
	}
	&__background{
		height: 504px;
		width: 100%;
		background-color: #fef7f0;
		position: absolute;
		bottom: 0;
		z-index: -1;
	}
}
.authorization{
	padding: 115px 0;
	color: $links;
	font-size: 14px;
	@extend %dmsans-500;
	a{
		color: inherit;
		font-size: inherit;
		@extend %dmsans-500;
	}
	&__label{
		margin-bottom: 15px;
		display: block;
	}
	&__username,
	&__password{
		display: block;
		border: 2px solid #f6f6f6;
		width: 100%;
		height: 55px;
		padding: 0px 15px;
		margin: 5px 0 30px;
	}
	&__login{
		width: 100%;
		color: #fff;
		border: none;
		background-color: #a3bbc8;
		padding: 15px 0;
		margin-bottom: 30px;
		cursor: pointer;
	}
	&__optional{
		display: flex;
		justify-content: space-between;
		border-bottom: 2px solid #f6f6f6;
		padding-bottom: 10px;
	}
	&__register{
		display: block;
		text-align: center;
		margin: 35px 0 25px;
	}
	&__create{
		color: $accent;
		text-align: center;
		display: block;
		width: 100%;
		@extend %rubik-500;
		font-size: 18px;
		padding: 20px 0;
		border: 2px solid #a3bbc8; 
	}
}
.rules{
	padding-top: 120px;
	&__types{
		margin-bottom: 50px;
		.rules__title{
			margin-bottom: 20px;
		}
	}
	&__inner{
		display: flex;
		color: $accent;
		&+&{
			margin-top: 15px;
		}
		.rules__text{
			margin-left: 15px;
		}
	}
	&__title{
		color: $accent;
		font-size: 24px;
		line-height: 40px;
		@extend %rubik-500;
		margin-bottom: 10px;
	}
	&__how-first{
		margin-bottom: 50px;
	}
}
.mission{
	padding: 120px 0;
	&__wrapper{
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	&__inner{
		margin-left: 50px;
	}
	&__text{
		display: flex;
		align-items: center;
		margin-bottom: 30px;
	}
	&__years{
		@extend %rubik-500;
		color: #a3bbc8;
		font-size: 140px;
		line-height: 32px;
		margin-right: 20px;
	}
	&__rows{
		color: $accent;
		padding-top: 25px;
	}
	&__title{
		@extend %dmsans-700;
		font-size: 36px;
		line-height: 32px;
		color: $accent;
		margin-bottom: 30px;
	}
	&__descr{
		color: $accent;
		margin-bottom: 50px;
	}
	&__divider{
		background-color: #e6eaf0;
		width: 500px;
		height: 2px;
		margin-bottom: 30px;
	}
	&__achievements{
		display: flex;
		justify-content: space-between;
	}
	&__achievement{
		@extend %dmsans-700;
		padding-left: 60px;
		position: relative;
		&::before{
			content: '';
			position: absolute;
			left: 0;
			top: 10px;
			background-repeat: no-repeat;
		}
	}
	&__digits{
		color: $accent;
		font-size: 36px;
		line-height: 38px;
		margin-bottom: 5px;
	}
	&__name{
		line-height: 17px;
		color: #4c4c4c;
	}
	&__achievement--1{
		&::before{
		background-image: url('../images/about/projects.svg');
		width: 37px;
		height: 38px;
		}
		&::after{
			background-image: url('../images/about/verticaldivider.svg');
			width: 1px;
			height: 80px;
			content: '';
			position: absolute;
			right: -26px;
			top: -8px;
			background-repeat: no-repeat;
		}
	}
	&__achievement--2{
		&::before{
		background-image: url('../images/about/revenue.svg');
		width: 43px;
		height: 39px;
	}
			&::after{
			background-image: url('../images/about/verticaldivider.svg');
			width: 1px;
			height: 80px;
			content: '';
			position: absolute;
			right: -26px;
			top: -8px;
			background-repeat: no-repeat;
}
	}
	&__achievement--3::before{
		background-image: url('../images/about/awards.svg');
		width: 42px;
		height: 40px;
	}
}
.statistics{
	background-color: #fcd7b6;
	padding: 90px 0 80px;
	&__items{
		display: flex;
		justify-content: space-between;
	}
	&__image--small{
		padding-top: 10px;
	}
	&__item{
		display: flex;
		flex-direction: column;
		justify-content: center;
		text-align: center;
		color: $accent;
		@extend %dmsans-700;
	}
	&__digits{
		font-size: 36px;
		line-height: 32px;
		margin: 20px 0;
	}
	&__info{
		font-size: 18px;
		line-height: 32px;
	}
}
.team{
	padding: 120px 0 60px;
	&__inner{
		display: flex;
		justify-content: space-between;
	}
	&__about{
		max-width: 300px;
		width: 100%;
	}
	&__title{
		@extend %dmsans-700;
		color: $accent;
		font-size: 36px;
		line-height: 32px;
		margin-bottom: 30px;
	}
	&__descr{
		color: $accent;
		margin-bottom: 35px;
	}
	&__button{
		@extend %poppins-700;
		color: #fff;
		padding: 15px 60px 15px 20px;
		background-color: #a3bbc8;
		border-radius: 5px;
		position: relative;
		&::after{
			content: '';
			background-image: url('../images/icons/arrow-btn.svg');
			background-repeat: no-repeat;
			top: 50%;
			position: absolute;
			transform: translateY(-50%);
			right: 26px;
			width: 15px;
			height: 11px;
		}
	}
	&__items{
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		grid-gap: 100px 30px;
	}
	&__item{
		position: relative;
	}
	&__popup{
		background-color: #fff;
		bottom: -63px;
		position: absolute;
		left: 0;
		padding: 30px 20px;
		display: flex;
		  box-shadow: 0px 6px 57px 0px rgba(37, 37, 37, 0.05);
		justify-content: space-between;
		max-width: 324px;
		width: 100%;
	}
	&__name{
		font-size: 22px;
		line-height: 26px;
		color: $links;
		@extend %dmsans-700;
		margin-bottom: 10px;
	}
	&__profession{
		color: #565872;
	}
	&__links{
		display: flex;
	}
	&__link{
		background-color: #f6f6f6;
		width: 40px;
		height: 40px;
		border-radius: 50%;
		display: flex;
		align-items: center;
		justify-content: center;
		&+&{
			margin-left: 7px;
		}
	}
}
.shop-grid__inner{
	display: flex;
	padding: 120px 0;
	align-items: flex-start;
}
.shop-filters{
	width: 270px;
	margin-right: 30px;
	&__category{
		margin-bottom: 50px;
	}
	&__title{
		text-transform: uppercase;
		color: $accent;
		font-size: 18px;
		@extend %dmsans-700;
		margin-bottom: 30px;
		position: relative;
		display: inline-block;
		&::after{
			content: '';
			position: absolute;
			background-image: url('../images/icons/title-line.svg');
			background-repeat: no-repeat;
			right: -50px;
			top: 50%;
			width: 39px;
			height: 3px;
		}
	}
	&__category-label{
		display: block;
		position: relative;
	}
	&__category-input{
		@extend %input-hidden;
		&:checked + .shop-filters__category-type{
		 border-radius: 5px;
 		 background-color: #edf1f4;
		}
	}
	&__category-type{
		color: $accent;
		position: relative;
		left: 0;
		display: block;
		padding: 10px 15px;
		right: 0;
		margin-bottom: 1px;
		&::after{
			content: '';
			position: absolute;
			background-image: url('../images/icons/arrow-right.svg');
			background-repeat: no-repeat;
			right: 15px;
			top: 50%;
			transform: translateY(-50%);
			width: 5px;
			height: 10px;
		}
	}
	.irs--flat .irs-handle {
    top: 19px;
    width: 15px;
    height: 15px;
    background-color: #a3bbc8;
}
.irs--flat .irs-handle>i:first-child {
    height: 0;
}
.irs--flat .irs-line {
    top: 25px;
    height: 3px;
	 background-color: #c2d2db;
	 border-top: 1px solid #dfe7ec;
	 border-bottom: 1px solid #dfe7ec;
}
.irs--flat .irs-bar {
    top: 25px;
    height: 4px;
	 background-color: #a3bbc8;
	 border-top: 1px solid #bfd0d9;
	 border-bottom: 1px solid #bfd0d9;
}
.irs--flat .irs-min, .irs--flat .irs-max, .irs--flat .irs-from, .irs--flat .irs-to, .irs--flat .irs-single{
	display: none;
}
&__price-prices{
	display: flex;
	justify-content: space-between;
	color: $accent;
}
&__price{
	margin-bottom: 85px;
}
&__brand{
	margin-bottom: 65px;
}
&__brand-label{
	display: block;
	margin-bottom: 1px;
}
&__brand-amount{
	color: #b3b3b3;
}
&__brand-input{
	@extend %input-hidden; 
	&:checked + .shop-filters__brand-digits{
		background-color: #edf1f4;
		border-radius: 5px;
		.shop-filters__brand-amount{
			color: $accent;
		}
	}
}
&__brand-digits{
	display: flex;
	justify-content: space-between;
	padding: 10px 15px;
}
&__recent-item{
	display: flex;
	&+&{
		margin-top: 25px;
	}
}
&__recent-link{
	width: 70px;
	height: 70px;
	margin-right: 20px;
	display: flex;
	align-items: center;
	justify-content: center;
	border: 3px solid #f2f2f2;
}
&__recent-img{
	object-fit: cover;
}
&__recent-title{
	color: #333333;
	font-size: 14px;
}
&__recent-stars{
	padding: 0;
}
&__recent-price{
	font-size: 15px;
	color: #333333;
}
}
.shop-grid__items{
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 30px;
}
.products__item{
	width: 270px;
	height: 380px;
}
.shop-list{
	&__item{
		justify-content: space-between;
		display: flex;
		align-items: center;
		margin-bottom: 40px;
	}
	&__link{
			height: 500px;
	width: 370px;
	border: 3px solid #f2f2f2;
	display: flex;
	justify-content: center;
	margin-right: 60px;
	align-items: center;
	}
	&__img{
		object-fit: cover;
	}
	&__descr{
		width: 440px;
	}
	&__title{
		font-size: 40px;
		line-height: 26px;
		color: #333;
		margin-bottom: 20px;
		font-weight: 400;
	}
	&__stars{
		padding: 0;
		margin-bottom: 40px;
	}
	&__cost{
		margin-bottom: 40px;
		font-size: 30px;
		line-height: 45px;
		color: #333;
	}
	&__about{
		color: $accent;
		margin-bottom: 30px;
	}
	&__buttons{
		display: flex;
	}
	&__cart, &__favourite{
		border: none;
		background-color: #fff;
		box-shadow: 0px 6px 47px 3px rgba(37, 37, 37, 0.05);
		display: flex;
		justify-content: center;
		align-items: center;
		height: 50px;
		width: 50px;
		transition: all .3s;
		&:hover{
			background-color: #a3bac7;
			path{
				fill: #fff;
			}
		}
	}
	&__favourite{
		margin-left: 10px;
	}
}




.video{
	background-image: url('../images/video-bg.jpg');
	background-repeat: no-repeat;
	background-position: 0 0;
	background-size: cover;
	height: 500px;
	display: flex;
	justify-content: center;
	align-items: center;
}
@import 'media';
