.video{
	background-image: url('../images/video-bg.jpg');
	background-repeat: no-repeat;
	background-position: 0 0;
	background-size: cover;
	height: 500px;
	display: flex;
	justify-content: center;
	align-items: center;
}
@media(max-width: 850px){
	.video{
		background-position: center center;
	}
}