<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
	<link rel="stylesheet" href="css/blog-page.min.css">
	<link rel="stylesheet" href="css/style.min.css">
</head>

<body>
	{% include 'app/modules/_header/_header.html' %}
	<main class="main">
		<div class="top">
			<h2 class="top__title">Blog</h2>
			<div class="breadcrumbs">
				<a class="breadcrumbs__link" href="index.html">
					Home
				</a>
				<a class="breadcrumbs__link" href="#">
					Blog
				</a>
			</div>
		</div>
		<section class="blog-page">
			<div class="container-small">

				<div class="blog-page__inner">
					<div class="blog-page__content">
						<div class="blog-page__content-item">
							<a class="blog-page__content-imagelink" href="#"><img class="blog-page__content-image"
									src="images/blog-page/1.jpg" alt="blog page image"></a>
							<div class="blog-page__content-data">
								<p class="blog-page__content-date">28 JANUARY, 2020</p>
								<a class="blog-page__content-authorlink" href="#">
									<p class="blog-page__content-author">By admin</p>
								</a>
							</div>
							<h3 class="blog-page__content-title">Finsectetur adipisicing eiusmod</h3>
							<p class="blog-page__content-text">consectetur adipisicing elit, sed do eiusmod tempor incididunt
								ut
								labore et dolore magna aliqua. Ut enim ad minim
								veniam, quis nostrud exercitation ullamco laboris nisi ut alLorem ipsum dolor sit amet,
								consectetur
								adipisicing elit,
								sed do eiusmod tempor incididunt ut labore et dolore magna</p>
							<a class="blog-page__content-link" href="#">View More</a>
						</div>
						<div class="blog-page__content-item">
							<a class="blog-page__content-imagelink" href="#"><img class="blog-page__content-image"
									src="images/blog-page/2.jpg" alt="blog page image"></a>
							<div class="blog-page__content-data">
								<p class="blog-page__content-date">28 JANUARY, 2020</p>
								<a class="blog-page__content-authorlink" href="#">
									<p class="blog-page__content-author">By admin</p>
								</a>
							</div>
							<h3 class="blog-page__content-title">Finsectetur adipisicing eiusmod</h3>
							<p class="blog-page__content-text">consectetur adipisicing elit, sed do eiusmod tempor incididunt
								ut
								labore et dolore magna aliqua. Ut enim ad minim
								veniam, quis nostrud exercitation ullamco laboris nisi ut alLorem ipsum dolor sit amet,
								consectetur
								adipisicing elit,
								sed do eiusmod tempor incididunt ut labore et dolore magna</p>
							<a class="blog-page__content-link" href="#">View More</a>
						</div>
						<div class="blog-page__content-item">
							<a class="blog-page__content-imagelink" href="#"><img class="blog-page__content-image"
									src="images/blog-page/3.jpg" alt="blog page image"></a>
							<div class="blog-page__content-data">
								<p class="blog-page__content-date">28 JANUARY, 2020</p>
								<a class="blog-page__content-authorlink" href="#">
									<p class="blog-page__content-author">By admin</p>
								</a>
							</div>
							<h3 class="blog-page__content-title">Finsectetur adipisicing eiusmod</h3>
							<p class="blog-page__content-text">consectetur adipisicing elit, sed do eiusmod tempor incididunt
								ut
								labore et dolore magna aliqua. Ut enim ad minim
								veniam, quis nostrud exercitation ullamco laboris nisi ut alLorem ipsum dolor sit amet,
								consectetur
								adipisicing elit,
								sed do eiusmod tempor incididunt ut labore et dolore magna</p>
							<a class="blog-page__content-link" href="#">View More</a>
						</div>
						<div class="blog-page__content-item">
							<a class="blog-page__content-imagelink" href="#"><img class="blog-page__content-image"
									src="images/blog-page/4.jpg" alt="blog page image"></a>
							<div class="blog-page__content-data">
								<p class="blog-page__content-date">28 JANUARY, 2020</p>
								<a class="blog-page__content-authorlink" href="#">
									<p class="blog-page__content-author">By admin</p>
								</a>
							</div>
							<h3 class="blog-page__content-title">Finsectetur adipisicing eiusmod</h3>
							<p class="blog-page__content-text">consectetur adipisicing elit, sed do eiusmod tempor incididunt
								ut
								labore et dolore magna aliqua. Ut enim ad minim
								veniam, quis nostrud exercitation ullamco laboris nisi ut alLorem ipsum dolor sit amet,
								consectetur
								adipisicing elit,
								sed do eiusmod tempor incididunt ut labore et dolore magna</p>
							<a class="blog-page__content-link" href="#">View More</a>
						</div>
						<div class="pagination">
							<ul class="pagination__items">
								<li class="pagination__item"><a class="pagination__link pagination__link--active" href="#">1</a>
								</li>
								<li class="pagination__item"><a class="pagination__link" href="#">2</a></li>
								<li class="pagination__item"><a class="pagination__link" href="#">3</a></li>
								<li class="pagination__item"><a class="pagination__link" href="#">Next</a></li>
							</ul>
						</div>
					</div>
					<div class="blog-page__filters">
						<div class="blog-page__search">
							<form class="blog-page__form" action="#">
								<input class="blog-page__input" type="search" required>
								<button class="blog-page__button" type="submit"></button>
							</form>
						</div>
						<div class="shop-filters__category">
							<h3 class="shop-filters__title">category</h3>
							<form class="shop-filters__category-form" action="#">
								<label class="shop-filters__category-label">
									<input class="shop-filters__category-input" type="checkbox" checked>
									<span class="shop-filters__category-type">Chair</span>
								</label>
							</form>
							<form class="shop-filters__category-form" action="#">
								<label class="shop-filters__category-label">
									<input class="shop-filters__category-input" type="checkbox">
									<span class="shop-filters__category-type">Table</span>
								</label>
							</form>
							<form class="shop-filters__category-form" action="#">
								<label class="shop-filters__category-label">
									<input class="shop-filters__category-input" type="checkbox">
									<span class="shop-filters__category-type">Lamp</span>
								</label>
							</form>
							<form class="shop-filters__category-form" action="#">
								<label class="shop-filters__category-label">
									<input class="shop-filters__category-input" type="checkbox">
									<span class="shop-filters__category-type">Watch</span>
								</label>
							</form>
							<form class="shop-filters__category-form" action="#">
								<label class="shop-filters__category-label">
									<input class="shop-filters__category-input" type="checkbox">
									<span class="shop-filters__category-type">Clock</span>
								</label>
							</form>
						</div>
						<div class="blog-page__recent">
							<h3 class="shop-filters__title">recent posts</h3>
							<div class="blog-page__recent-items">
								<div class="blog-page__recent-item">
									<a class="blog-page__recent-imglink" href="#">
										<img class="blog-page__recent-img" src="images/blog-page/recent/1.jpg" alt="recent image">
									</a>
									<div class="blog-page__recent-text">
										<a class="blog-page__recent-titlelink" href="#">
											<p class="blog-page__recent-title">Corem ipsom dolor tetur adipisicing elit</p>
										</a>
										<div class="blog-page__recent-date">28 JANUARY, 2020</div>
									</div>
								</div>
								<div class="blog-page__recent-item">
									<a class="blog-page__recent-imglink" href="#">
										<img class="blog-page__recent-img" src="images/blog-page/recent/2.jpg" alt="recent image">
									</a>
									<div class="blog-page__recent-text">
										<a class="blog-page__recent-titlelink" href="#">
											<p class="blog-page__recent-title">Corem ipsom dolor tetur adipisicing elit</p>
										</a>
										<div class="blog-page__recent-date">28 JANUARY, 2020</div>
									</div>
								</div>
								<div class="blog-page__recent-item">
									<a class="blog-page__recent-imglink" href="#">
										<img class="blog-page__recent-img" src="images/blog-page/recent/3.jpg" alt="recent image">
									</a>
									<div class="blog-page__recent-text">
										<a class="blog-page__recent-titlelink" href="#">
											<p class="blog-page__recent-title">Corem ipsom dolor tetur adipisicing elit</p>
										</a>
										<div class="blog-page__recent-date">28 JANUARY, 2020</div>
									</div>
								</div>
								<div class="blog-page__recent-item">
									<a class="blog-page__recent-imglink" href="#">
										<img class="blog-page__recent-img" src="images/blog-page/recent/4.jpg" alt="recent image">
									</a>
									<div class="blog-page__recent-text">
										<a class="blog-page__recent-titlelink" href="#">
											<p class="blog-page__recent-title">Corem ipsom dolor tetur adipisicing elit</p>
										</a>
										<div class="blog-page__recent-date">28 JANUARY, 2020</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

		</section>
		<div class="partners">
			<div class="container-small">
				<div class="partners__inner">
					<img class="partner" src="images/blog/partners/1.png" alt="partner image">
					<img class="partner" src="images/blog/partners/2.png" alt="partner image">
					<img class="partner" src="images/blog/partners/3.png" alt="partner image">
					<img class="partner" src="images/blog/partners/4.png" alt="partner image">
					<img class="partner" src="images/blog/partners/5.png" alt="partner image">
				</div>
			</div>
		</div>
	</main>
	{% include 'app/modules/_footer/_footer.html' %}
</body>
<script src="js/main.min.js"></script>

</html>