.blog{
	padding-top: 120px;
	position: relative;
	&__top{
		display: flex;
		justify-content: space-between;
		margin-bottom: 40px;
	}
	.title{
		color: $accent;
	}
	&__top-link{
		@extend %dmsans-700;
		color: $accent;
		padding-right: 25px;
		position: relative;
		&::after{
			content: '';
			background-image: url('../images/icons/navigate.svg');
			position: absolute;
			width: 6px;
			height: 11px;
			right: 0;
			top: 10px;
		}
	}
	&__items{
		display: flex;
		justify-content: space-between;
		margin-bottom: 100px;
	}
	&__item{
		max-width: 370px;
		width: 100%;
		height: 420px;
		  box-shadow: 0px 6px 47px 3px rgba(37, 37, 37, 0.05);
		  background-color: #fff;
		&+&{
			margin-left: 30px;
		}
	}
	&__img{
		height: 250px;
		object-fit: cover;
	}
	&__imagelink{
		position: relative;
		margin-bottom: 35px;
		display: block;
	}
	&__capsule{
		position: absolute;
		text-transform: uppercase;
		background-color: #a3bbc8;
		color: #fff;
		@extend %poppins-700;
		padding: 3px 35px;
		border-radius: 25px;
		bottom: -16px;
		left: 30px;
	}
	&__inner{
		padding: 0px 30px;
		display: flex;
		flex-direction: column;
		height: calc(370px - 250px);
	}
	&__text{
		@extend %dmsans-500;
		color: #262626;
		font-size: 18px;
		height: auto;
		line-height: 20px;
	}
	&__divider{
		height: 1px;
		background-color: #e0e0e0;
		margin-top: auto;
	}
	&__info{
		@extend %rubik-400;
		display: flex;
		margin: 10px 0 0 15px;
		font-size: 12px;
		text-transform: uppercase;
		color: #222933;
	}
	&__author{
		color: #222933;
		margin-left: 40px;
		&::before{
			background-image: url('../images/icons/user.svg');
		}
	}
	&__date{
		&::before{
			background-image: url('../images/icons/calendar.svg');
		}
	}
	&__author,
	&__date{
		position: relative;
		padding-left: 12px;
		&::before{
			content: '';
			position: absolute;
			width: 16px;
			height: 16px;
			left: -10px;
			bottom: 8px;
			background-repeat: no-repeat;
		}
	}
	&__partners{
		display: flex;
		justify-content: space-between;
		padding: 0 80px 150px 50px;
		align-items: center;
	}
	&__background{
		height: 504px;
		width: 100%;
		background-color: #fef7f0;
		position: absolute;
		bottom: 0;
		z-index: -1;
	}
}